page-home {
    ion-card{
        p{
            padding: 20px 10px 5px 10px;
        }
        svg{
            height: 50px;
            width: 100%;
        }
        #close-circle {
            color: color($colors, dark);
            font-size: 2.5em;
            padding: 4% 3% 0 0; 
            height: 44px;
            background-color:transparent;
            box-shadow: none;
            float: right;
        }
    }

    #auto-complete{
        position: sticky;
        bottom: 0px;
        background-color: color($colors, light);
        padding: 0;
        ion-row {
            border-bottom: 1px solid color($colors, gray);
            text-indent: 5px;
        }
    }

    ion-card-header {
        padding: 0;
        ion-grid, ion-row, ion-col, ion-item {
            padding: 0;
        }
    }



    ion-searchbar{
        position: fixed;
        bottom: 10%;
        left: 1%;
        width: 85%;
        .searchbar-search-icon{
            display:none;
        }
        .searchbar-input{
            padding: 6px 20px !important;
        }
    }

    #search-button{
        position: fixed;
        color: black;
        bottom: 7%;
        right: 1%;
        font-size: 1.5em;
        width: 15%;
        height: 44px;
        background-color:transparent;
        box-shadow: none;
    }
}
